.about {

  & a:link,
  & a:active,
  & a:visited {
    color: $off-white;
  }

  & h2 {
    font-size: 1.2em;
    color: $white;

    @media (min-width: 600px) {
      font-size: 1.4em;
    }
  }

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $dark-gray;
  color: $off-white;
  line-height: 1.6em;
  font-size: 1em;
    @media (min-width: 600px) {
      font-size: 1.2em;
    }

  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: space-around;
  }
}


.about__text-section {
  margin: 0 10px;

  @media (min-width: 600px) {
    max-width: 500px;
    margin: 50px 5% 0 20%;
  }

  @media (min-width: 1030px) {
    width: 60%;
    margin: 50px 0 0 15%;
  }
}


.about__photo-section {
  width: 100%;
  text-align: center;
  margin: 30px 0;

  @media (min-width: 1300px) {
    margin: 55px 0 10% 0;
  }

  .about__photo {
    height: auto;
    margin: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 50%;

    @media (min-width: 1300px) {
      width: 80%;
      max-width: 450px;
    }
  }
}
