.header {
  height: 100vh;
  background-color: $brick-red;
  position: relative;

  &__header {
    width: 515px;
    height: auto;
    font-family: 'Tajawal', sans-serif;
    font-size: 5em;
    line-height: 1em;
    font-style: italic;
    font-weight: 400;
    color: $sand;
    text-shadow: 1px 1px 0 $brown;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: $dark-gray;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 0 0 0 0.5em;

    span {
      font-weight: 700;
    }
  }

  &__button-wrapper {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
  }

  &__button {
    border: none;
    background-color: $light-gray-transparent;
    color: $off-off-white;
    min-width: 115px;
    line-height: 1.2rem;
    border-radius: 1px;
    padding: 19px 32px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: $gray-transparent;
    }
  }
}

@media (max-width: 700px) {
  .header__button {
    font-size: 0.875rem //14px;
  }

  .header {
    max-height: 650px;
  }

  .header__header {
    top: 100px;
    transform: translate(0, 0);
    width: auto;
    font-size: 40px;
    padding: 5px 2em 5px 2em;
  }
}

@media (max-height: 600px) {
  .header__button-wrapper {
    bottom: 5%;
  }
}

@media (min-width: 1030px) {
  .header__header {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 0.5em 0 0.5em;
  }
}
