.header {
  height: 100vh;
  max-height: 650px;
  background-color: $brick-red;
  position: relative;

  @media (min-width: 700px) {
    max-height: 800px;
  }

  &__heading {
    height: auto;
    font-family: "Tajawal", sans-serif;
    line-height: 1em;
    font-style: italic;
    font-weight: 400;
    color: $sand;
    text-shadow: 1px 1px 0 $brown;
    position: absolute;
    right: 0;
    background-color: $dark-gray;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    top: 100px;
    transform: translate(0, 0);
    width: auto;
    font-size: 2.5em;
    padding: 5px 2em 5px 2em;

    @media (min-width: 700px) {
      transform: translate(0, -50%);
      top: 30%;
      font-size: 4em;
      width: 515px;
      padding: 0 0 0 0.5em;
    }

    @media (min-width: 1090px) {
      width: auto;
      left: 50%;
      padding: 0 0.5em 0 0.5em;
    }

    @media (min-width: 1300px) {
      font-size: 5em;
    }
  }

  &__button-wrapper {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;

    // min-HEIGHT
    @media (min-height: 600px) {
      bottom: 15%;
    }
  }

  &__button {
    border: none;
    background-color: $light-gray-transparent;
    color: $off-off-white;
    min-width: 115px;
    line-height: 1.2rem;
    border-radius: 1px;
    padding: 19px 32px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.875rem; //14px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: $gray-transparent;
    }

    @media (min-width: 1300px) {
      font-size: 1rem;
    }
  }
}
