.language-selector {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $off-white;
  transition: top 0.3s ease;


  &__list-item {
    display: inline;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    font-size: 16px; //Exact font size to have an exact height for the .language-selector--hidden
    text-decoration: underline;
    border-bottom: 0px solid $off-white;;
    transition: border-bottom 0.3s ease;

    &:hover {
      border-bottom: 1.5px solid $off-white;
    }
  }

  &--selected-language {
    border-bottom: 1.5px solid $off-white;
  }

  &--hidden {
    top: -30px; // LanguageSelector is 20px height, and the position from top is 10px = 30px
  }
}
