.project-text-area {
  margin: 4%;

  &__header {
    font-weight: bold;
    padding: 0.4em 0;
  }

  &__link-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: underline;

    & > a {
      padding: 0.8em;

      &:link,
      &:active,
      &:visited {
        color: $off-black;
      }

      &:hover {
        color: $pink;
      }

      /* The two arrows after the link text */
      & > div::after {
        content: '\00a0 \00bb';
      }
    }
  }
}

@media (min-width: 1150px) {
  .project-text-area {
    margin: 30px;
  }
  .project-text-area__header {
    padding: 0.8em 0;
  }
}
