.project-strip {
  display: flex;
  flex-direction: row;
  border-top: 0 solid $sand;
  padding: 0.8em 0 0.8em 2em;

  &__name {
    font-weight: bold;

    &::after {
      content: "\00a0";
    }
  }
}
