.project-strip {
  display: flex;
  flex-direction: row;
  border-top: 0 solid $sand;
  padding: 25px 5%;

  &__text-wrap {
    transition: background-color 0.3s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 2%;
  }

  &__name {
    font-weight: bold;

    &::after {
      content: "\00a0";
    }
  }
}
