.project-description {
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden;

  &--visible {
    height: 400px;
  }

  &:hover {
    cursor: context-menu;
  }

  &__inner {
    margin: 0 5%;
    height: 388px;
    background-color: rgb(251, 229, 198);
    display: flex;
  }
}
