.project-list-item {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  color: $off-black;
  //background-color: $green;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-box-shadow: inset 0 3px 3px 0 #b6cfc5, inset 0 -3px 3px 0 #b6cfc5;
  -moz-box-shadow: inset 0 3px 3px 0 #b6cfc5, inset 0 -3px 3px 0 #b6cfc5;
  box-shadow: inset 0 3px 3px 0 #b6cfc5, inset 0 -3px 3px 0 #b6cfc5;

  &:hover .project-strip__text-wrap {
    background-color: #fbe5c6;
  }
}

@media (min-width: 700px) {
  .project-list-item {
    font-size: 1.6em;
  }
}

@media (min-width: 950px) {
  .project-list-item {
    font-size: 1.9em;
  }
}
