.project-description {
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden;

  &--visible {
    height: 400px;
  }

  &:hover {
    cursor: context-menu;
  }

  &__inner {
    margin: 0 2em 0.8em 2em;
    /*font-size: 0.526em;*/
    height: 388px;
    background-color: rgba(255, 228, 191, 0.7);
    display: flex;
  }
}
