.project-strip {
  //max-width: $max-width-content;
  //margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-top: 0 solid $sand;
  padding: 25px 5%;

  &__text-wrap {
    width: 100%;
  }

  /* This class is affected by a :hover in _project-list-item.scss  */
  &__text-line {
    transition: background-color 0.3s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  &__name {
    font-weight: bold;

    &::after {
      content: "\00a0";
    }
  }
}
