.about-main {
  height: 100vh;
  background-color: #6D6875;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  line-height: 1.6em;
  font-size: 1.2em;
  width: 100%;
  position: relative;
}

.about-main .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 10%;
  position: absolute;
  bottom: 10vh;
}

.box1 {

  background-color: yellow;
  width: 60%;
  color: black;
}



.about-main h2 {
  font-size: 1.7em;
  color: rgba(255, 255, 255, 1);
}

.about-main span {
  font-weight: bold;
}

.about {
  width: 500px;
}

.contact h2 {
  margin-top: 60px;
}

@media (max-width: 600px) {
  .about-main {
    font-size: 1em;
  }
  .about-main h2 {
    font-size: 1.5em;
  }
  .about {
    width: 400px;
  }
}