.about-main {
  height: 100vh;
  width: 100%;
  background-color: #6D6875;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
}

.container-1 {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  line-height: 1.6em;
  font-size: 1.2em;
  position: relative;
}

.container-1 > div {
  width: 500px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15%;
  bottom: 10%;
}

.container-2 {
  height: 100%;
  width: 40%;
  background-color: black;
  position: relative;
}

.container-2 > div {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 40%);
  width: 80%;
}

.container-2 > div > div {
  width: 100%;
  height: 300px;
  background-color: white;
}



.about-main h2 {
  font-size: 1.7em;
  color: rgba(255, 255, 255, 1);
}

.about-main span {
  font-weight: bold;
}

.about {

}

.contact h2 {
  margin-top: 60px;
}






@media (max-width: 600px) {
  .about-main {
    font-size: 1em;
  }
  .about-main h2 {
    font-size: 1.5em;
  }
  .container-1 > div  {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 1030px) {
  .about-main {
    position: static;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .container-1 {
    width: 100%;
  }

  .container-1 > div {
    position: static;
    margin-left: 20%; /* DOESNT WORK NOW BECAUSE OF MAX-WIDTHS OVERRIDE */
  }

  .container-2 {
    width: 100%;

  }
  .container-2 > div {
    position: static;
    width: 50%;
    height: auto;
    transform: translate(0, 0);
    margin: 20px auto
  }

  .container-2 > div > div {
    background-color: white;
  }
}