.li-main {
  font-family: 'Raleway', sans-serif;
  font-size: 1.9em;
  color: #3C3940;
  background-color: rgba(168, 198, 186, 0.84);
  transition: top 1s ease;
}

.li-main:hover {
  background-color: #ABC6BA ;
}

.li-main a:link,
.li-main a:active,
.li-main a:visited {
  color: #3C3940;
}

.li-main > .container {
  display: flex;
  flex-direction: row;
  border-top: 0 solid #FFCDB2;
  padding: 0.8em 0 0.8em 2em;
}

.li-main .name {
  font-weight: bold;
}

.li-main .name::after {
  content: "\00a0";
}

.li-main .short {
  font-weight: normal;
}

.li-main .hidden {
  height: 0;
  transition: height 1s ease;
  overflow: hidden;
}

.li-main .visible {
  height: 400px;
  transition: height 1s ease;
  overflow: hidden;
}