.li-main {
  font-family: 'Raleway', sans-serif;
  font-size: 1.9em;
  color: #3C3940;
  background-color: rgba(168, 198, 186, 0.84);
}

.li-main:hover {
  background-color: #ABC6BA ;
}

.li-main a:link,
.li-main a:active,
.li-main a:visited {
  color: #3C3940;
}

.li-main > .container {
  display: flex;
  flex-direction: row;
  border-top: 0 solid #FFCDB2;
  padding: 0.8em 0 0.8em 2em;
}

.li-main .name {
  font-weight: bold;
}

.li-main .name::after {
  content: "\00a0";
}

.li-main .short {
  font-weight: normal;
}

.li-main .hidden {
  /*display: none;*/
  /*height: 0;
  z-index: -10;*/
  position: absolute;
  top: -100%;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s ease 0s;
}

.li-main .visible {
  /*display: block;*/
  /*height: 100%;*/
  top: 0;
}