.pd {
  padding: 0 2em 0.8em 2em;
}

.pd:hover {
  cursor: context-menu;
}

.pd .project {
  /*font-size: 0.526em;*/
  height: 388px;
  background-color: rgba(255, 228, 191, 0.7);
  display: flex;
}

.pd .img-container {
  margin: 4% 0 4% 4%;
}

.pd .img-wrap {
  max-width: 400px;
  max-height: 300px;
}

.pd img {
  width: 100%;
}

.pd .text {
  margin: 4% 4% 4% 4%;
}

.pd .header {
  font-weight: bold;
  padding: 0.4em 0 0.4em 0;
}

.pd .link {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: underline;
}

.pd a {
  padding: 0.8em;
}

.pd a:hover {
  color: #e57b7d;
}

.pd .link > a > div::after {
  content: "\00a0" "\00bb";
}

.pd .link > div:hover {
  background-color: pink;
}

@media (min-width: 550px) {
  .pd .img-wrap {
    width: 200px;
    height: 150px;
  }
}

@media (min-width: 680px) {
  .pd .img-wrap {
    width: 250px;
    height: 187px;
  }
}

@media (min-width: 750px) {
  .pd .img-wrap {
    width: 300px;
    height: 225px;
  }
}

@media (min-width: 800px) {
  .pd .img-wrap {
    width: 350px;
    height: 262px;
  }
}

@media (min-width: 1030px) {
  .pd .img-container {
    margin: 30px 0 30px 30px;
  }
  .pd .img-wrap {
    width: 400px;
    height: 300px;
  }
  .pd .text {
    margin: 30px 30px 30px 30px;
  }
  .pd .header {
    padding: 0.8em 0 0.8em 0;
  }
}