
/* Colors for background */
$brick-red: #E5989B;
$pink: #e57b7d;
$green: rgba(168, 198, 186, 0.84);
$green-hover: #ABC6BA;
$dark-gray: #6D6875;
$light-gray-transparent: rgba(109, 104, 117, 0.4);
$gray-transparent: rgba(109, 104, 117, 0.7);

/* Colors for text */
$sand: #FFCDB2; /* Text color in the H1 */
$brown: #B5838D; /* Text-shadow in the H1 */
$off-black: #3C3940;
$white: white; /* Text color in the H2's */
$off-white: rgba(255, 255, 255, 0.9); /* Text color for body text */
$off-off-white: rgba(255, 255, 255, 0.8); /* Text color for text in button in hero */

/* Colors for button */

/* Sizes */
$max-width-content: 1300px;

/* Default settings */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
}
